@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	height: 100%;
}

body {
	width: 100%;
	min-height: 100%;
	background-color: hsl(0, 0%, 95%);
	display: flex;
	align-items: center;
	justify-content: center;
}
main {
	width: 80%;
	display: flex;
	flex-direction: column;

	margin: 2.5rem 0;

	border-radius: 10px;
	overflow: hidden;
}

.box1 {
	background: hsl(31, 77%, 52%);
}
.box2 {
	background: hsl(184, 100%, 22%);
}
.box3 {
	background: hsl(179, 100%, 13%);
}

div {
	width: 100%;
	height: 45vh;
	padding: 1.5rem;
	position: relative;
}
p {
	color: hsla(0, 0%, 100%, 0.75);

	font-family: "Lexend Deca";
	line-height: 27px;
	font-size: 15px;
}
h1 {
	color: hsl(0, 0%, 95%);
	font-family: "Big Shoulders Display";
	text-transform: uppercase;
	margin-bottom: 1rem;
	font-size: 2.5rem;
}
img {
	margin-bottom: 1rem;
}
button {
	display: flex;
	align-items: center;
	height: 2.75rem;
	margin: 2rem 0;
	padding: 1rem 2rem;
	border-radius: 25px;
	border: none;
	font-family: "Lexend Deca";
	line-height: 30px;
	font-size: 15px;
	transition: all 0.25s;

	background: hsl(0, 0%, 95%);
	position: absolute;
	bottom: -5px;
}
.btn1 {
	color: hsl(31, 77%, 52%);
}
.btn2 {
	color: hsl(184, 100%, 22%);
}
.btn3 {
	color: hsl(179, 100%, 13%);
}
button:hover {
	background-color: transparent;
	color: white;
	border: 2px solid white;
	cursor: pointer;
}
@media (min-width: 1140px) {
	main {
		flex-direction: row;
		height: 63vh;
		width: 63.5%;
	}
	div {
		height: 100%;
		position: relative;
		padding: 2.75rem;
	}
	p {
		line-height: 25px;
		margin-top: 2rem;
	}
	button {
		position: absolute;
		bottom: 20px;
		height: 3rem;
	}
}
